name: Commit

on:
  push:
    branches-ignore:
      - master
  pull_request:
    branches:
      - master

env:
  CI: true
  CARGO_TERM_COLOR: always

permissions:
  contents: write

jobs:
  Build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build
        run: cargo build --verbose

      - name: Build release
        run: cargo build --release --verbose

      - name: Build wasm
        run: |
          cargo install wasm-pack
          wasm-pack build --target web

      - name: Run tests
        run: cargo test --verbose -- --test-threads 1

      - name: Run release tests
        run: cargo test --release --verbose -- --test-threads 1
